@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(./assets/fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Ruda-Bold;
  src: url(./assets/fonts/Ruda/Ruda-Bold.ttf);
}


